{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/common/home_style.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
  table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th {
          height:20px;
        }
        th, td {
            padding: 5px;
        }
  </style>
    </HEAD>
    <BODY>
	<div class="top"> 
		<p>
		<center> KVA SCHOOL ADMIN LOGIN</center>	
		</p>
	</div>
	<div class="left">
		
  	    {% if is_logged_in == 0 %} 
		<p>You are not logged in</p>
	  		<p><a href="#" id ="a_log_in">Live Learning Login</a></p>
	    {% else %}
		<p>Welcome, {{ username }} Logined as {{ logintype }}</p>
	        {% if logintype == 'Admin' %}
                    <p><a href="/index/kva/admin_profile_info/" >Profile</a></p>
                {% elif logintype == 'Teacher' %}
                    <p><a href="/index/kva/teacher_profile_info/" >Profile</a></p>
                {% else %}
                    <p><a href="/index/kva/student_profile_info/" >Profile</a></p>
            {% endif %}
		<p><a href="/index/kva/log_out/" id ="a_log_out">Log out</a></p>
		{% endif %}
		<p><a href="/index/kva/home/">Main Page</a></p>
  		
	</div>
	<div class="main">
	{% if error_message != 'None' %}
		<div><p>{{ error_message }}</p></div>
	{% endif %}
        {% if is_logged_in == 0 %}
	    <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                Student fullname: {{ student_login.fullname }} </br>
                Student emailid: {{ student_login.emailid }} </br>
                Student enrolment number: {{ student_login.enrollment_number }} </br>
                Student phone: {{ student_login.phone }} </br>
            </p>
            <p>
                <a href="/index/kva/student_view_subjects/">View Subjects.</a>
                <a href="/index/kva/student_view_exam/">View Exams.</a>
                <a href="/index/kva/student_view_received_notice/">View Received Notices.</a>
                <a href="/index/kva/student_view_calendar/">View Calendar.</a>
                <b></b>                
            </p>
        </div>
        <div> 
            <p>
                <h3>View All Subjects Assigned</h3> </br>
            </p>
            <p>
                <table>
                <tr>
                <th>Subject id</th>
                <th>Subject name</th>
                <th>Subject code</th>
                <th>Major/Minor</th>
                <th>Class</th>
                <th>Section</th>
                <th>Teacher Name</th>
                </tr>
                {% for elem in subjectList %}
                    <tr>
                    <td>{{ elem.subject_id }}</td> 
                    <td>{{ elem.sd.subject_name }}</td> 
                    <td>{{ elem.sd.subject_code }}</td> 
                    <td>{{ elem.sd.is_major }}</td> 
                    <td>{{ elem.sa.class_field }}</td>
                    <td>{{ elem.sa.section }}</td>
                    <td>{{ elem.tl.fullname }}</td> 
                    </tr>
                {% endfor %}
                </table>
            </p>
        </div>
        {% endif %}
	</div>
	<div class="topleft">
		<p>
	    <center>Learn With Dharna</center>
		</p>
	</div>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo'); 
}
*/
</HTML>
