{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/common/new_home_style.css'%}">
  <script src="{% static 'js/new_home.js' %}?v=00000001"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
  table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th {
          height:20px;
        }
        th, td {
            padding: 5px;
        }
  </style>
    </HEAD>
    <BODY>
	<div class="header" id="myHeader"> 
    <div class="main-header">
    <p>
    <center> <h1>KVA SCHOOL LOGIN</h1></center> 
    </p>
    </div>
    <div class="header_links">
    <div class="hl_1"><h2><a href="/index/kva/home/">Home</a></h2></div>
    <div class="hl_2"><h2><a href="/index/kva/team/">Team</a></h2></div>
    <div class="hl_3"><h2><a href="/index/kva/contact/">Contact</a></h2></div>
    <div class="hl_6">
        <h2 class="dropbtn">Admin Tasks</h2>
        <div class="dropdown-content">
            <a href="/index/kva/view_student_admin/">View Students.</a>
            <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
            <a href="/index/kva/view_subject_admin/">View Subjects.</a>
            <a href="/index/kva/view_exam_admin/">View Exams.</a>
            <a href="/index/kva/view_notice_admin/">View Notices.</a>
            <a href="/index/kva/view_calendar_admin/">View Calendar.</a>
            <a href="/index/kva/assign_teacher_subject_admin/1/">Assign Subject to Teachers.</a>
            <a href="/index/kva/assign_class_subject_admin/">Assign Subject to Class.</a>
            <a href="/index/kva/view_hostel_admin/">Add/View Hostels</a>
            <a href="/index/kva/view_house_admin/">Add/View Houses.</a>
        </div>
    </div>
    <div class="hl_5">
        {% if is_logged_in == 0 %} 
    <p>You are not logged in</p>
        <p><a href="#" id ="a_log_in">Live Learning Login</a></p>
      {% else %}
    <p><h2 class="dropbtn1">{{ username }}: {{ logintype }}</h2></p>
      <div class="dropdown-content1">
              {% if logintype == 'Admin' %}
                        <p><a href="/index/kva/admin_profile_info/" >Profile</a></p>
                    {% elif logintype == 'Teacher' %}
                        <p><a href="/index/kva/teacher_profile_info/" >Profile</a></p>
                    {% else %}
                        <p><a href="/student_profile_info/" >Profile</a></p>
                {% endif %}

        <p><a href="/index/kva/log_out/" id ="a_log_out">Log out</a></p>
        {% endif %}
      </div>
    </div>  
  </div>
  </div>
	<div class="main">
	{% if error_message != 'None' %}
		<div><p>{{ error_message }}</p></div>
	{% endif %}
        {% if is_logged_in == 0 %}
	    <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                Admin id: {{ admin_login.admin_id }} </br>
                Admin username: {{ admin_login.user_name }} </br>
            </p>
            <p>
                <a href="/index/kva/view_student_admin/">View Students.</a>
                <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
                <a href="/index/kva/view_subject_admin/">View Subjects.</a>
                <a href="/index/kva/view_exam_admin/">View Exams.</a>
                <a href="/index/kva/view_notice_admin/">View Notices.</a>
                <a href="/index/kva/view_calendar_admin/">View Calendar.</a>
                <b></b>                
            </p>
            <p>
                <a href="/index/kva/assign_teacher_subject_admin/1/">Assign Subject to Teachers.</a>
                <a href="/index/kva/assign_class_subject_admin/">Assign Subject to Class.</a>
                <a href="/index/kva/view_hostel_admin/">Add/View Hostels</a>
                <a href="/index/kva/view_house_admin/">Add/View Houses.</a>
                <b></b>                
            </p>
        </div>
        <div>
            <p>
                {% if subject_assigned == 1 %}
                    <b>Subject Assigned to the entire class.</b>
                {% elif subject_assigned == 2%}
                    <b>No subject assigned.</b>
                {% else %}
                    <b>No selection Made.</b>
                {% endif %}
            </p>
            <p>
                Go to Following class and section
                <form action="/index/kva/assign_class_subject_admin/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    Class:
                    <select name="class">
                    {% for i in classList %}
                      {% if i == class_val %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                      {% else %}
                        <option value="{{i}}">{{i}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    <br>
                    Section:
                    <select name="section">
                    {% for i in sectionList %}
                      {% if i == section %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                      {% else %}
                        <option value="{{i}}">{{i}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    <br>
                    <input type="submit"
                     value="Go"
                     style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            <p>
                <form action="/index/kva/assign_class_subject_admin/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    Class:
                    <select name="class">
                    {% for i in classList %}
                      {% if i == class_val %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                      {% else %}
                        <option value="{{i}}" disabled="disabled">{{i}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    <br>
                    Section:
                    <select name="section">
                    {% for i in sectionList %}
                      {% if i == section %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                      {% else %}
                        <option value="{{i}}" disabled="disabled">{{i}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    <br>
                    Assign Subject:
                    <select name="subject_id">
                        {% for elem in subjectList %}
                          <option value="{{elem.subject_id}}">{{elem.subject_name}}</option>
                        {% endfor %}
                      </select>
                    <input type="submit"
                       value="Upload"
                       style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            {% if status == 1 %}
              <b>List of Students for class {{class_val}} and section {{section}}:-</b>
              {% for elem in studentList %}
              <p>
                  <p><table>
                    <tr>
                    <th>Student id</th>
                    <th>Fullname</th>
                    <th>Roll Number</th>
                    <th>Add Subject Link</th>
                    </tr>  
                    <tr>
                    <td>{{ elem.student_id }}</td> 
                    <td>{{ elem.fullname }}</td> 
                    <td>{{ elem.roll_number }}</td> 
                    <td><a href="/index/kva/assign_student_subject_admin/{{ elem.student_id }}/">Click Here</a></td>
                    </tr>
                  </table>
                  <br>
                  <table>
                    <tr>
                    <th>Subject id</th>
                    <th>Subject name</th>
                    <th>Subject code</th>
                    <th>Is major</th>
                    <th>Delete </th>
                    </tr>
                    {% for elem1 in elem.subject_arr %}  
                    <tr>
                    <td>{{ elem1.subject_id }}</td> 
                    <td>{{ elem1.subject_name }}</td> 
                    <td>{{ elem1.subject_code }}</td> 
                    <td>{{ elem1.is_major }}</td>
                    <td><a href="/index/kva/delete_student_subject_admin/{{ elem.student_id }}/">Click Here</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                  
                  </p>
              </p>
                
              {% endfor %}
            {% endif %}
            <p>
            </p>
        </div>
        {% endif %}
	</div>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo'); 
}
*/
</HTML>
