{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/common/new_home_style.css'%}">
  <script src="{% static 'js/new_home.js' %}?v=00000001"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
  table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th {
          height:20px;
        }
        th, td {
            padding: 5px;
        }
  </style>
    </HEAD>
    <BODY>
    <div class="header" id="myHeader"> 
    <div class="main-header">
        <p>
        <center> <h1>KVA SCHOOL LOGIN</h1></center> 
        </p>
    </div>
    <div class="header_links">
    <div class="hl_1"><h2><a href="/index/kva/home/">Home</a></h2></div>
    <div class="hl_2"><h2><a href="/index/kva/team/">Team</a></h2></div>
    <div class="hl_3"><h2><a href="/index/kva/contact/">Contact</a></h2></div>
    <div class="hl_6">
        <h2 class="dropbtn">Admin Tasks</h2>
        <div class="dropdown-content">
            <a href="/index/kva/view_student_admin/">View Students.</a>
            <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
            <a href="/index/kva/view_subject_admin/">View Subjects.</a>
            <a href="/index/kva/view_exam_admin/">View Exams.</a>
            <a href="/index/kva/view_notice_admin/">View Notices.</a>
            <a href="/index/kva/view_calendar_admin/">View Calendar.</a>
            <a href="/index/kva/assign_teacher_subject_admin/1/">Assign Subject to Teachers.</a>
            <a href="/index/kva/assign_class_subject_admin/">Assign Subject to Class.</a>
            <a href="/index/kva/view_hostel_admin/">Add/View Hostels</a>
            <a href="/index/kva/view_house_admin/">Add/View Houses.</a>
        </div>
    </div>
    <div class="hl_5">
        {% if is_logged_in == 0 %} 
    <p>You are not logged in</p>
        <p><a href="#" id ="a_log_in">Live Learning Login</a></p>
      {% else %}
    <p><h2 class="dropbtn1">{{ username }}: {{ logintype }}</h2></p>
      <div class="dropdown-content1">
              {% if logintype == 'Admin' %}
                        <p><a href="/index/kva/admin_profile_info/" >Profile</a></p>
                    {% elif logintype == 'Teacher' %}
                        <p><a href="/index/kva/teacher_profile_info/" >Profile</a></p>
                    {% else %}
                        <p><a href="/student_profile_info/" >Profile</a></p>
                {% endif %}

        <p><a href="/index/kva/log_out/" id ="a_log_out">Log out</a></p>
        {% endif %}
      </div>
    </div>  
  </div>
    </div>
    <div class="main">
    {% if error_message != 'None' %}
        <div><p>{{ error_message }}</p></div>
    {% endif %}
        {% if is_logged_in == 0 %}
        <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                Admin id: {{ admin_login.admin_id }} </br>
                Admin username: {{ admin_login.user_name }} </br>
            </p>
            <p>
                <a href="/index/kva/view_student_admin/">View Students.</a>
                <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
                <a href="/index/kva/view_subject_admin/">View Subjects.</a>
                <a href="/index/kva/view_exam_admin/">View Exams.</a>
                <a href="/index/kva/view_notice_admin/">View Notices.</a>
                <a href="/index/kva/view_calendar_admin/">View Calendar.</a>
                <b></b>                
            </p>
            <p>
                <a href="/index/kva/assign_teacher_subject_admin/1/">Assign Subject to Teachers.</a>
                <a href="/index/kva/assign_class_subject_admin/">Assign Subject to Class.</a>
                <a href="/index/kva/view_hostel_admin/">Add/View Hostels</a>
                <a href="/index/kva/view_house_admin/">Add/View Houses.</a>
                <b></b>                
            </p>
        </div>
        <div> 
            Add Status: {{ msg }}
        {% if status == 1 %}
            <p><table>
                <tr>
                <th>House id</th>
                <th>House Name</th>
                <th>House Code</th>
                <th>Delete Link</th>
                </tr>
                {% for elem in houseList %}
                    <tr>
                    <td>{{ elem.house_id }}</td> 
                    <td>{{ elem.house_name }}</td> 
                    <td>{{ elem.house_code }}</td> 
                    <td><a href='/index/kva/delete_house_admin/{{elem.house_id}}/'>Click here</td>
                    </tr>
                {% endfor %}
            </table></p>
        {% else %}
        
        {% endif %}
        <p>
            <b>Add Houses:</b> </br>
            <form action="/index/kva/add_house_admin/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              House Name:<br>
              <input type="text" name="house_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
              House Code:<br>
              <input type="text" name="house_code" required="required" style="border: 1px solid black; padding: 5px;"><br>
              <p></p>
              <input type="submit"
               value="Upload"
               style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
            </form>
        </p>
        <a href="/index/kva/admin_profile_info/">Go back</a>
                    <p>
            </p>
        </div>
        {% endif %}
    </div>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
    var el = document.getElementById('foo');
    var el = document.getElementById('foo');
    var el = document.getElementById('foo');
    var el = document.getElementById('foo');
    var el = document.getElementById('foo'); 
}
*/
</HTML>
