{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/common/new_home_style.css'%}">
  <script src="{% static 'js/new_home.js' %}?v=00000001"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content_collapsible {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    height:20px;
  }
  th, td {
      padding: 5px;
  }
  </style>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker1" ).datepicker();
    $( "#datepicker2" ).datepicker();
  } );
  $(document).ready(function() { 
    document.getElementById("all_class").checked = true;
    $("#classes").hide();
    document.getElementById("all_class_notice").checked = true;
    $("#classes_notice").hide();
    document.getElementById("all_sec_notice").checked = true;
    $("#sec_notice").hide();
  });
  function valueChanged()
  {
    if($('#all_class').is(":checked"))   
        $("#classes").hide();
    else
        $("#classes").show();
  }
  function valueChangedNoticeClass()
  {
    if($('#all_class_notice').is(":checked"))   
        $("#classes_notice").hide();
    else
        $("#classes_notice").show();
  }
  function valueChangedNoticeSection()
  {
    if($('#all_sec_notice').is(":checked"))   
        $("#sec_notice").hide();
    else
        $("#sec_notice").show();
  }
  </script>
    </HEAD>
    <BODY>
	<div class="header" id="myHeader"> 
    <div class="main-header">
		<p>
		<center> <h1>KVA SCHOOL LOGIN</h1></center>	
		</p>
    </div>
    <div class="header_links">
    <div class="hl_1"><h2><a href="/index/kva/home/">Home</a></h2></div>
    <div class="hl_2"><h2><a href="/index/kva/team/">Team</a></h2></div>
    <div class="hl_3"><h2><a href="/index/kva/contact/">Contact</a></h2></div>
    <div class="hl_6">
        <h2 class="dropbtn">Admin Tasks</h2>
        <div class="dropdown-content">
            <a href="/index/kva/view_student_admin/">View Students.</a>
            <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
            <a href="/index/kva/view_subject_admin/">View Subjects.</a>
            <a href="/index/kva/view_exam_admin/">View Exams.</a>
            <a href="/index/kva/view_notice_admin/">View Notices.</a>
            <a href="/index/kva/view_calendar_admin/">View Calendar.</a>
            <a href="/index/kva/assign_teacher_subject_admin/1/">Assign Subject to Teachers.</a>
            <a href="/index/kva/assign_class_subject_admin/">Assign Subject to Class.</a>
            <a href="/index/kva/view_hostel_admin/">Add/View Hostels</a>
            <a href="/index/kva/view_house_admin/">Add/View Houses.</a>
        </div>
    </div>
    <div class="hl_5">
        {% if is_logged_in == 0 %} 
    <p>You are not logged in</p>
        <p><a href="#" id ="a_log_in">Live Learning Login</a></p>
      {% else %}
    <p><h2 class="dropbtn1">{{ username }}: {{ logintype }}</h2></p>
      <div class="dropdown-content1">
              {% if logintype == 'Admin' %}
                        <p><a href="/index/kva/admin_profile_info/" >Profile</a></p>
                    {% elif logintype == 'Teacher' %}
                        <p><a href="/index/kva/teacher_profile_info/" >Profile</a></p>
                    {% else %}
                        <p><a href="/student_profile_info/" >Profile</a></p>
                {% endif %}

        <p><a href="/index/kva/log_out/" id ="a_log_out">Log out</a></p>
        {% endif %}
      </div>
    </div>  
  </div>
	</div>

	<div class="main">
	{% if error_message != 'None' %}
		<div><p>{{ error_message }}</p></div>
	{% endif %}
        {% if is_logged_in == 0 %}
	    <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                Admin id: {{ admin_login.admin_id }} </br>
                Admin username: {{ admin_login.user_name }} </br>
            </p>
            <p>
                <a href="/index/kva/view_student_admin/">View Students.</a>
                <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
                <a href="/index/kva/view_subject_admin/">View Subjects.</a>
                <a href="/index/kva/view_exam_admin/">View Exams.</a>
                <a href="/index/kva/view_notice_admin/">View Notices.</a>
                <a href="/index/kva/view_calendar_admin/">View Calendar.</a>
                <b></b>                
            </p>
            <p>
                <a href="/index/kva/assign_teacher_subject_admin/1/">Assign Subject to Teachers.</a>
                <a href="/index/kva/assign_class_subject_admin/">Assign Subject to Class.</a>
                <a href="/index/kva/view_hostel_admin/">Add/View Hostels</a>
                <a href="/index/kva/view_house_admin/">Add/View Houses.</a>
                <b></b>                
            </p>
        </div>
        <div> 
            <button class="collapsible">Upload Teacher Document</button>
            <div class="content_collapsible" style>
            <p>
                <b>Upload Teacher Document</b> </br>
                <form action="/index/kva/teacher_excel_upload/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
                  <p></p>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Upload Student Document</button>
            <div class="content_collapsible" style>
            <p>
                <b>Upload Student Detail Document</b> </br>
                <form action="/index/kva/student_excel_upload/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
                  <p></p>
                  Class:<br>
                  <select name="class">
                      {% for i in classList %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                  </select><br>
                  Section:<br>
                  <select name="section">
                      {% for i in sectionList %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}

                  </select><br>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Add Subjects One by One:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Add Subjects One by One:</b> </br>
                <form action="/index/kva/add_subject/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Subject Name:<br>
                  <input type="text" name="subject_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Subject Code:<br>
                  <input type="text" name="subject_code" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Major/Minor:<br>
                  <select name="is_major">
                      <option value="Major">Major</option>
                      <option value="Minor">Minor</option>

                  </select>
                  <p></p>
                  <input type="submit"
                   value="Add"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Add Teachers One by One:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Add Teacher One by One:</b> </br>
                <form action="/index/kva/add_teacher/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Full Name:<br>
                  <input type="text" name="fullname" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Email:<br>
                  <input type="text" name="email" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Phone:<br>
                  <input type="text" name="phone" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  <p></p>
                  <input type="submit"
                   value="Add"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Add Students One by One:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Add Student One by One:</b> </br>
                <form action="/index/kva/add_student/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Full Name:<br>
                  <input type="text" name="fullname" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Roll Number:<br>
                  <input type="text" name="roll_number" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Email:<br>
                  <input type="text" name="email" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Phone:<br>
                  <input type="text" name="phone" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Correspondence Address:<br>
                  <input type="text" name="address" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Enrolment Number:<br>
                  <input type="text" name="enrollment_number" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Father's Name:<br>
                  <input type="text" name="father_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Mother's Name:<br>
                  <input type="text" name="mother_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  <p></p>
                  Class:<br>
                  <select name="class">
                      {% for i in classList %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                  </select><br>
                  Section:<br>
                  <select name="section">
                      {% for i in sectionList %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}

                  </select><br>
                  <input type="submit"
                   value="Add"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Add Exams:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Add Exams:</b> </br>
                <form action="/index/kva/add_exam/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Exam Group Name:<br>
                  <input type="text" name="exam_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Exam Session:<br>
                  <select name="exam_session">
                      <option value="2018-2019">2018-2019</option>
                      <option value="2019-2020">2019-2020</option>
                      <option value="2020-2021">2020-2021</option>

                  </select><br>
                  Exam Type:<br>
                  <select name="exam_type">
                      <option value="All Subjects">All Subjects</option>
                      <option value="Only Major">Only Major</option>

                  </select><br>
                  Exam Term Number:<br>
                  <select name="exam_term">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>

                  </select><br>
                  Is Final Term:<br>
                  <select name="is_final">
                      <option value="N">No</option>
                      <option value="Y">Yes</option>
                  </select><br>
                  Date: <input type="text" id="datepicker" name="exam_date">
                  <br>
                  Select Classes:<br>
                  <input type="checkbox" name="all_class" id="all_class" value="True" onchange="valueChanged()">All Classes<br>
                  <p id="classes">
                    {% for i in classList %}
                    <input type="checkbox" name="selected_class[]" value="{{i}}">{{i}}<br>
                    {% endfor %}
                  </p>
                  <p></p>
                  <input type="submit"
                   value="Add Exam"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Create Notice:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Create Notice:</b> </br>
                <form action="/index/kva/create_notice_admin/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Notice Subject:<br>
                  <input type="text" name="subject" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Notice Message:<br>
                  <TEXTAREA name="message" required="required" style="border: 1px solid black; padding: 5px;" rows="6" cols="100"></TEXTAREA> <br>
                  Notice For:<br>
                  <select name="target_type">
                      <option value="All">All</option>
                      <option value="Teacher">Teacher</option>
                      <option value="Student">Student</option>

                  </select>
                  <br>
                  Select Classes:<br>
                  <input type="checkbox" name="all_class" id="all_class_notice" value="True" onchange="valueChangedNoticeClass()">All Classes<br>
                  <p id="classes_notice">
                    {% for i in classList %}
                    <input type="checkbox" name="selected_class[]" value="{{i}}">{{i}}<br>
                    {% endfor %}
                  </p>
                  <br>
                  Select Section:<br>
                  <input type="checkbox" name="all_sec" id="all_sec_notice" value="True" onchange="valueChangedNoticeSection()">All Sections<br>
                  <p id="sec_notice">
                    {% for i in sectionList %}
                    <input type="checkbox" name="selected_sec[]" value="{{i}}">{{i}}<br>
                    {% endfor %}
                  </p>
                  <p></p>
                  <input type="submit"
                   value="Add Notice"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Add Calendar Events:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Add Event:</b> </br>
                <form action="/index/kva/add_event_admin/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Event Occasion:<br>
                  <input type="text" name="occasion" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Event Details:<br>
                  <input type="text" name="details" required="required" style="border: 1px solid black; padding: 5px;"><br><br>
                  Session:<br>
                  <select name="session">
                      <option value="2018-2019">2018-2019</option>
                      <option value="2019-2020">2019-2020</option>
                      <option value="2020-2021">2020-2021</option>

                  </select><br>
                  Start Date: <input type="text" id="datepicker1" name="start_date">
                  <br>
                  End Date: <input type="text" id="datepicker2" name="end_date">
                  <br>
                  <p></p>
                  <input type="submit"
                   value="Add Event"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <button class="collapsible">Add houses:</button>
            <div class="content_collapsible" style>
            <p>
                <b>Add houses:</b> </br>
                <form action="/index/kva/add_subject/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Subject Name:<br>
                  <input type="text" name="subject_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Subject Code:<br>
                  <input type="text" name="subject_code" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Major/Minor:<br>
                  <select name="is_major">
                      <option value="Major">Major</option>
                      <option value="Minor">Minor</option>

                  </select>
                  <p></p>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            </div>
            <p>
            </p>
        </div>
        {% endif %}
	</div>
	<div class="topleft">
		<p>
	    <center></center>
		</p>
	</div>
  <script type="text/javascript">
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo'); 
}
*/
</HTML>
