{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/common/home_style.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </HEAD>
    <BODY>
	<div class="top"> 
		<p>
		<center> KVA SCHOOL ADMIN LOGIN</center>	
		</p>
	</div>
	<div class="left">
		
  	    {% if is_logged_in == 0 %} 
		<p>You are not logged in</p>
	  		<p><a href="#" id ="a_log_in">Live Learning Login</a></p>
	    {% else %}
		<p>Welcome, {{ username }} Logined as {{ logintype }}</p>
	        {% if logintype == 'Admin' %}
                    <p><a href="/index/kva/admin_profile_info/" >Profile</a></p>
                {% elif logintype == 'Teacher' %}
                    <p><a href="/teacher_profile_info/" >Profile</a></p>
                {% else %}
                    <p><a href="/student_profile_info/" >Profile</a></p>
            {% endif %}
		<p><a href="/index/kva/log_out/" id ="a_log_out">Log out</a></p>
		{% endif %}
		<p><a href="/index/kva/home/">Main Page</a></p>
  		
	</div>
	<div class="main">
	{% if error_message != 'None' %}
		<div><p>{{ error_message }}</p></div>
	{% endif %}
        {% if is_logged_in == 0 %}
	    <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                Admin id: {{ admin_login.admin_id }} </br>
                Admin username: {{ admin_login.user_name }} </br>
            </p>
            <p>
                <a href="/index/kva/view_student_admin/">View Students.</a>
                <a href="/index/kva/view_teacher_admin/">View Teachers.</a>
                <a href="/index/kva/view_subject_admin/">View Subjects.</a>
                <a href="/index/kva/admin_view_exam/">View Exams.</a>
                <a href="/index/kva/view_notice/">View Notices.</a>
                <b></b>                
            </p>
        </div>
        <div> 
            <p>
                <b>Upload Teacher Document</b> </br>
                <form action="/index/kva/teacher_excel_upload/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
                  <p></p>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            <p>
                <b>Upload Student Detail Document</b> </br>
                <form action="/index/kva/student_excel_upload/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
                  <p></p>
                  <select name="class">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
                  <select name="section">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      
                  </select>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            <p>
                <b>Upload Teacher One by One:</b> </br>
                <form action="/index/kva/add_teacher/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Full Name:<br>
                  <input type="text" name="fullname" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Email:<br>
                  <input type="text" name="email" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Phone:<br>
                  <input type="text" name="phone" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  <p></p>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            <p>
                <b>Upload Student One by One:</b> </br>
                <form action="/index/kva/add_student/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  Full Name:<br>
                  <input type="text" name="fullname" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Roll Number:<br>
                  <input type="text" name="roll_number" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Email:<br>
                  <input type="text" name="email" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Phone:<br>
                  <input type="text" name="phone" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Enrolment Number:<br>
                  <input type="text" name="enrollment_number" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Father's Name:<br>
                  <input type="text" name="father_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  Mother's Name:<br>
                  <input type="text" name="mother_name" required="required" style="border: 1px solid black; padding: 5px;"><br>
                  <p></p>
                  <select name="class">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
                  <select name="section">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>

                  </select>
                  <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
            </p>
            <p>
            </p>
        </div>
        {% endif %}
	</div>
	<div class="topleft">
		<p>
	    <center>Learn With Dharna</center>
		</p>
	</div>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo'); 
}
*/
</HTML>
