{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP KVA</TITLE>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/common/new_home_style.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/new_home.js' %}?v=00000001"></script>
    </HEAD>
    <body>
        <div class="header" id="myHeader">
            <div class="main-header">
            <h1>Learn With Dharna</h1>
            </div>
            <div class="header_links">
                
                <div class="hl_1"><h2><a href="/">Home</a></h2></div>
                <div class="hl_2"><h2><a href="/team/">Team</a></h2></div>
                <div class="hl_3"><h2><a href="/contact/">Contact</a></h2></div>
                <div class="hl_4"><h2><a href="/blog/">Blog</a></h2></div>
                
                <div class="hl_5">
                
                {% if is_logged_in == 0 %} 
                <h2>
                <a href="/login_page/">Login</a>/<a href="/register_page/">Register</a>
                </h2>
                {% else %}
                <h2 class="dropbtn1">
                {{ username }}
                </h2>
                    {% if logintype == 'teacher' %}
                    <div class="dropdown-content1">
                        <a href="/teacher_profile_info/" >Teacher Profile</a>
                        <a href="/teacher_prev_lectures/" >Past Lecture details</a>
                        <a href="/teacher_new_lectures/" >Upcoming Lecture details</a>
                        <a href="/teacher_create_lecture/" >Create new lectures</a>
                        <a href="/log_out/" >Log Out</a>
                    </div>
                    {% else %}
                    <div class="dropdown-content1">
                        <a href="/student_profile_info/" >Student Profile</a>
                        <a href="/student_prev_lectures/" >Past Lecture details</a>
                        <a href="/student_new_lectures/" >Upcoming Lecture details</a>
                        <a href="/login_combined_app/" >Login Combined App</a>
                        <a href="/log_out/" >Log Out</a>
                    </div>

                    {% endif %}
                {% endif %}
                
                </div>
            </div>
            <!--div style="clear: both;"></div--> 
        </div>

        <div class="content">
            <div class="loggedout">
            <p>
            You are logged out.</br>
            <a href="/index/kva/home/">Click Here</a> to go to the main page.
            </p>
            </div>
        </div>
        <div class="footer">
            This is some sample Text.
        </div>
    </body>
</html>
