{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/common/new_home_style.css'%}">
  <script src="{% static 'js/new_home.js' %}?v=00000001"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
  table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th {
          height:20px;
        }
        th, td {
            padding: 5px;
        }
  </style>
    </HEAD>
    <BODY>
	<div class="header" id="myHeader"> 
    <div class="main-header">
        <p>
        <center> <h1>KVA SCHOOL LOGIN</h1></center> 
        </p>
    </div>
    <div class="header_links">
    <div class="hl_1"><h2><a href="/index/kva/home/">Home</a></h2></div>
    <div class="hl_2"><h2><a href="/index/kva/team/">Team</a></h2></div>
    <div class="hl_3"><h2><a href="/index/kva/contact/">Contact</a></h2></div>
    <div class="hl_6">
        <h2 class="dropbtn">Teacher Views</h2>
        <div class="dropdown-content">
            <a href="/index/kva/teacher_view_exam/">View Exams.</a>
            <a href="/index/kva/teacher_view_received_notice/">View Received Notices.</a>
            <a href="/index/kva/teacher_view_sent_notice/">View Sent Notices.</a>
            <a href="/index/kva/teacher_view_calendar/">View Calendar.</a>
        </div>
    </div>
    <div class="hl_5">
        {% if is_logged_in == 0 %} 
    <p>You are not logged in</p>
        <p><a href="#" id ="a_log_in">Live Learning Login</a></p>
      {% else %}
    <p><h2 class="dropbtn1">{{ username }}: {{ logintype }}</h2></p>
      <div class="dropdown-content1">
              {% if logintype == 'Admin' %}
                        <p><a href="/index/kva/admin_profile_info/" >Profile</a></p>
                    {% elif logintype == 'Teacher' %}
                        <p><a href="/index/kva/teacher_profile_info/" >Profile</a></p>
                    {% else %}
                        <p><a href="/student_profile_info/" >Profile</a></p>
                {% endif %}

        <p><a href="/index/kva/log_out/" id ="a_log_out">Log out</a></p>
        {% endif %}
      </div>
    </div>  
  </div>
    </div>
	<div class="main">
	{% if error_message != 'None' %}
		<div><p>{{ error_message }}</p></div>
	{% endif %}
        {% if is_logged_in == 0 %}
	    <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                Teacher id: {{ teacher_login.teacher_id }} </br>
                Teacher username: {{ teacher_login.fullname }} </br>
                Teacher emailid: {{ teacher_login.emailid }} </br>
                Teacher phone: {{ teacher_login.phone }} </br>
            </p>
            <p>
                <a href="/index/kva/teacher_view_exam/">View Exams.</a>
                <a href="/index/kva/teacher_view_received_notice/">View Received Notices.</a>
                <a href="/index/kva/teacher_view_sent_notice/">View Sent Notices.</a>
                <a href="/index/kva/teacher_view_calendar/">View Calendar.</a>
                <b></b>                
            </p>
        </div>
        <div> 
            {% if subjects_added > 0 %}
            <p>
              <b>Following subjects have been assigned to you:-</b>
              <p>
                <table>
                <tr>
                <th>Subject id</th>
                <th>Subject name</th>
                <th>Subject code</th>
                <th>Major/Minor</th>
                <th>Class</th>
                <th>Section</th>
                <th>Actions</th>
                </tr>
                {% for elem in subjects %}
                    <tr>
                    <td>{{ elem.subject_id }}</td> 
                    <td>{{ elem.subject_name }}</td> 
                    <td>{{ elem.subject_code }}</td> 
                    <td>{{ elem.is_major }}</td> 
                    <td>{{ elem.class_field }}</td>
                    <td>{{ elem.section }}</td>
                    <td><a href='/index/kva/teacher_subject_student_view/{{elem.subject_id}}/{{elem.class_field}}/{{elem.section}}/'>Click here to view students</td>
                    </tr>
                {% endfor %}
                </table>
              </p>
            </p>
            {% else %}
            <p>
              <b>No subjects have been assigned to you.</b>
            </p>
            {% endif %}
            
            {% if cld_status == 0 %}
            <p>
              <b>You are not a class teacher.</b>
            </p>
            {% else %}
            <p>
              <b>You are class teacher of {{cld.class_field}} {{cld.section}}.</b>
            </p>
            {% endif %}
            <p>
            </p>
        </div>
        {% endif %}
	</div>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo'); 
}
*/
</HTML>
