{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>SANKALP</TITLE>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/common/new_home_style.css'%}">
  <script src="{% static 'js/new_home.js' %}?v=00000001"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </HEAD>
    <BODY>
	<div class="header" id="myHeader">
            <div class="main-header">
            <h1>SANKALP</h1>
            </div>
            <div class="header_links">

                <div class="hl_1"><h2><a href="/">Home</a></h2></div>
                <div class="hl_2"><h2><a href="/team/">Team</a></h2></div>
                <div class="hl_3"><h2><a href="/contact/">Contact</a></h2></div>
                <div class="hl_4"><h2><a href="/blog/">Blog</a></h2></div>
            </div>
        </div>
        <div class="content">
            SELECT SCHOOL: <a href='/index/kva/home/'>KAANGER VALLEY ACADEMY</a>
        </div>
    </BODY>
</HTML>
